%h2 Sign Up
%form{:action=>"signup",:method=>"post"}
	%table
		%tr
			%td Signup Code:
			%td
				%input{:type=>"text",:name=>"signupcode"}
		%tr
			%td Email:
			%td
				%input{:type=>"email",:name=>"email"}
		%tr
			%td Password:
			%td
				%input{:type=>"password",:name=>"password"}
		%tr
			%td Nickname:
			%td
				%input{:type=>"text",:name=>"nickname"}
		%tr
			%td
			%td
				%button{:type=>"submit"} Sign Up
%a{href:"/"} Log In
